<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<!-- Always provide a logout button to wipe some session variables -->
<h1>Doogle</h1>
{% if session['meeting_id'] is defined %}
<h4>Responding to: "{{ session['meeting_id']  }}" as invitee.<h4>
<form method ='POST' action='/inv_logout' id ='logout' name='logout_form'>
	<input type='submit' value="Log Out" align ='top' style="font-size:12px; height:20px; width:60px">
</form>
{% endif %}
<!-- Login screen -->
{% if g.login_invitee is defined %}
	{% if g.iderror is defined %}
	Meeting not found.
	{% endif %}
<h3>Enter meeting id.<h3>
<form method ='POST' action='/invitee_sign_in' id='isign_in' name='isign_in'>
	Meeting Name: <input type='text' name='meeting_id'><br>
	<input type='submit' value='Submit'><br>
	</form>
{% endif %}

{% if g.calendars is defined  %}
<form method ="POST" action="/push_times" id="get_times" name="events_list">
	<fieldset>
	<legend> Choose Calendars </legend>
  <div class="row">
  {% for cal in g.calendars if cal.selected %}
          
		<div class="col-md-4">
		<input type="checkbox" id="{{ cal.summary }}" name="check" value="{{ cal.id }}">
		<label for ="{{ cal.summary }}" > {{ cal.summary}} </label>
		
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>
  <input type="submit" value="submit"/>
	
  <fieldset>
  </form>
{% endif %}
{% if g.thanks is defined %}
Thanks!
{% endif %}
  </div>  <!-- container (for bootstrap) -->
  </body> </html>
